body {
    background-color: #181b22!important;
    color: #fff;
}

.logo {
    width: auto;
    height: 10vw;
}

.heading {
    margin: 0.75vw;
    padding: 0.5vw;
}

.box {
    padding: 0.5vw;
    margin: 0.75vw;
    border-color: lightgrey;
    border-width: 2px;
    border-style: solid;
    border-radius: 16px;
    text-align: center!important;
}

.code {
    font-family: monospace!important;
    background-color: #3d3d3dbe;
    padding: 0.25vw;
    margin: 0.25vw;
    border-radius: 5px;
}